@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #fff;
}
h1 {
	display: inline-block;
	margin: 50px;
	font-size: 80px;
	font-family: 'Press Start 2P', cursive;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 0px;
}
li {
	list-style: none;
}


.title {
	text-align: center;
}

.kitList {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}
.kitList_content {
	display: inline-block;
}
.kitList_item {
	display: inline-block;
	width: 200px;
	height: 250px;
	color: #eee;
	background: #333;
	border-radius: 20px;
	transition: all ease-out 0.3s;
}
.kitList_item:hover {
	transform: scale(1.1, 1.1);
	background: #222;
}

.popup {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
	z-index: 1;
}
#popup_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background-color: #333c;
	z-index: 0;
}
#popup_X {
	display: block;
	text-align: right;
	color: #333;
	font-size: 100px;
	font-family: 'Press Start 2P', cursive;
}
